<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Preferences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accountPreferences.css') }}">
</head>
<body>
    <h1 class="center">Account Preferences</h1>
    <p style="font-size:20px" class="borderexample bold align">Account details</p>

    <div>
        <a href=""><p class="myLink">Full name: ></p></a>
        <p class="align bold italic">Login Info</p>
        <a href=""><p class="myLink">Email: xxx@xxx.com</p></a>
        <a href=""><p class="myLink">Username: ></p></a>
        <a href=""><p class="myLink">Password: (Change Password) ></p></a>
        <p class="align bold italic">Advanced</p>
        <a href=""><p class="myLink">Log out</p></a>
        <a href=""><p class="deleteLink">Delete account</p></a>
    </div>

</body>