<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Preferences</title>
    <link rel="stylesheet" href="testing.css">
</head>
<body>
    <h1 class="center">Account Preferences</h1>
    <p style="font-size:20px" class="borderexample bold align">Account details</p>

    <div>
        <a href=""><p style="text-align:left;" class="myLink">Full name: <span style="float:right;">></span></p></a>
        <p class="align bold italic">Login Info</p>
        <a href=""><p style="text-align:left;" class="myLink">Email: xxx@xxx.com <span style="float:right;">Edit</span> </p></a>
        <a href=""><p style="text-align:left;" class="myLink">Username: <span style="float:right;">></span> </p></a>
        <a href=""><p style="text-align:left;" class="myLink">Password: <span style="float:right;">(Change Password) ></span> </p></a>
        <p class="align bold italic">Advanced</p>
        <a href=""><p class="myLink">Log out</p></a>
        <a href=""><p class="deleteLink">Delete account</p></a>
    </div>

</body>