<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Preferences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accountPreferences.css') }}">
</head>
<body>
    <h1 class="center">Account Preferences</h1>
    <p style="font-size:20px" class="borderexample bold align">Account details</p>

    <div>
        <a href=""><p style="text-align:left;" class="myLink">Full name: {{name}} <span style="float:right;">></span></p></a>
        <p class="align bold italic">Login Info</p>
        <a href="updateEmail"><p style="text-align:left;" class="myLink">Email: {{email}} <span style="float:right;">Edit</span> </p></a>
        <a href=""><p style="text-align:left;" class="myLink">Username: <span style="float:right;">></span> </p></a>
        <a href=""><p style="text-align:left;" class="myLink">Password: <span style="float:right;">(Change Password) ></span> </p></a>
        <p class="align bold italic">Advanced</p>
        <a href=""><p class="myLink">Log out</p></a>
        <a href=""><p class="deleteLink">Delete account</p></a>
    </div>

    <div class="center" style="padding-top: 25px;">
        <a href="/">
            <input type="submit" value="Main Menu"/>
        </a>
    </div>

</body>
