<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Emergency Services</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contactEmergency.css') }}">
    </head>
    <body>
        <h1 class="center">Contact Emergency Services</h1>
        <p style="font-size:20px" class="borderexample center italic">Contact a service</p>
        <form style="font-size: 25px;"class="center" action="/ContactEmergency" method="post" >
            <input class="myLink" type="submit" value="911"/>       
            <br>     
            <input class="myLink" type="submit" value="Police Department"/>
            <br>
            <input class="myLink" type="submit" value="Fire Station"/>
            <br>
            <input class="myLink" type="submit" value="First Responders"/>
            <br>
            <input class="myLink" type="submit" value="Ambulance"/>          
        </form>

        {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
        {% endfor %}

        <div class="center" style="padding-top: 25px;">
            <a href="/">
                <input type="submit" value="Return Back"/>
            </a>
        </div>
    </body>
</html>