<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Plate Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/licenseLink.css') }}">
</head>
<body>
    
    <style>
        h1 {
            font-size: 30px;
            text-align: center;
    }
    </style>
    <h1>
        {{Plate}}
        <br/>
        {{State}}
        <br/>
        {{VIN}}
        <br/>
        {{Model}}
        <br/>
        {{Make}}
        <br/>
        {{Year}}
    </h1>
</body>