<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff0a1;
}

</style>
</head>
<body>

<h2>Train Times Table</h2>

<table>
  <tr>
    <th>Station</th>
    <th>Time of arrival</th>
	<th>Time of departure</th>
    <th>Book status</th>
  </tr>
  <tr>
    <td>JFK Station</td>
    <td>5:30pm</td>
	<td>5:40pm</td>
    <td><input type="checkbox" value="JFK"></td>
  </tr>
  <tr>
    <td>Dallas Station</td>
    <td>6:00pm</td>
	<td>6:10pm</td>
    <td><input type="checkbox" value="Dallas"></td>
  </tr>
  <tr>
    <td>Gary Indiana Station</td>
    <td>6:30pm</td>
	<td>6:40pm</td>
    <td><input type="checkbox" value="Gary Indiana"></td>
  </tr>
  <tr>
    <td>Kennedy Station</td>
    <td>7:00pm</td>
	<td>7:10pm</td>
    <td><input type="checkbox" value="Kennedy"></td>
  </tr>
  <tr>
    <td>Capitol Hill Station</td>
    <td>7:30pm</td>
	<td>7:40pm</td>
    <td><input type="checkbox" value="Capitol Hill"></td>
  </tr>
  <tr>
    <td>Jacksonville Station</td>
    <td>8:00pm</td>
	<td>8:10pm</td>
    <td><input type="checkbox" value="Jacksonville"></td>
  </tr>
</table>

<h2>Bus Stop Times Table</h2>

<table>
  <tr>
    <th>Station</th>
    <th>Time of arrival</th>
	<th>Time of depature</th>
    <th>Bus Fare</th>
  </tr>
  <tr>
    <td>2 - Bellaire</td>
    <td>2:00pm</td>
	<td>2:07pm</td>
    <td><input type="checkbox" value="JFK"></td>
  </tr>
  <tr>
    <td>3 - Langley - Little York</td>
    <td>2:10pm</td>
	<td>2:16pm</td>
    <td><input type="checkbox" value="Dallas"></td>
  </tr>
  <tr>
    <td>4 - Beechnut</td>
    <td>2:20pm</td>
	<td>2:29pm</td>
    <td><input type="checkbox" value="Gary Indiana"></td>
  </tr>
  <tr>
    <td>5 - Southmore</td>
    <td>2:30pm</td>
	<td>2:38pm</td>
    <td><input type="checkbox" value="Kennedy"></td>
  </tr>
  <tr>
    <td>6 - Jensen / Greens</td>
    <td>2:40pm</td>
	<td>2:44pm</td>
    <td><input type="checkbox" value="Capitol Hill"></td>
  </tr>
  <tr>
    <td>7 - West Airport</td>
    <td>2:50pm</td>
	<td>3:11pm</td>
    <td><input type="checkbox" value="Jacksonville"></td>
  </tr>
</table>

<h2>Tollway fees</h2>

<table>
  <tr>
    <th>Station</th>
	<th>Congestion rate</th>
    <th>Toll Fee</th>
  </tr>
  <tr>
    <td>Lorain County West 142</td>
	<td>Low</td>
    <td>$0.90</td>
  </tr>
  <tr>
    <td>North Ridgeville-Cleveland 151</td>
	<td>High</td>
    <td>$3.50</td>
  </tr>
  <tr>
    <td>Lordstown-West 215</td>
	<td>Low</td>
    <td>$0.95</td>
  </tr>
  <tr>
    <td>Lordstown-East 216</td>
	<td>Very high</td>
    <td>$1.27</td>
  </tr>
  <tr>
    <td>Youngstown-Poland 234</td>
	<td>Medium</td>
    <td>$1.39</td>
  </tr>
  <tr>
    <td>Fislewick-Cooper 164</td>
	<td>Low</td>
    <td>$2.50</td>
  </tr>
</table>

</body>
</html>