<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Road Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportConditions.css') }}">
</head>
<body>
    <h1 class="center">Report Road Conditions</h1>
    <p style="font-size:20px"class="borderexample center italic">Weather Conditions</p>

    <div>
        <a href=conditionSubmission/1><p class="myLink">1. Heavy Rain</p></a>
        <a href=conditionSubmission/2><p class="myLink">2. Flash Flood</p></a>
        <a href=conditionSubmission/3><p class="myLink">3. Strong Winds</p></a>
        <a href=conditionSubmission/4><p class="myLink">4. Heavy Snow</p></a>
        <a href=conditionSubmission/5><p class="myLink">5. Icy Roads</p></a>
    </div>

    <div class="center" style="padding-top: 25px;">
        <a href="/">
            <input type="submit" value="Main Menu"/>
        </a>
    </div>

</body>
