<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Report an Incident</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reportIncidents.css') }}">
    </head>
    <body>
        <h1 class="center">Report an Incident</h1>
        <p style="font-size:20px" class="borderexample center italic">Choose an incident to report</p>
        <div>
            <a href="issueSubmission/1"><p class="myLink" style="background-color: rgba(255,0,0,.5)">Crash</p></a>
            <a href="issueSubmission/2"><p class="myLink" style="background-color: rgba(255,255,0,.3)">Traffic Jam</p></a>
            <a href="issueSubmission/3"><p class="myLink" style="background-color: rgba(3,138,255, .4)">Speed Trap</p></a>
            <a href="issueSubmission/4"><p class="myLink" style="background-color: rgba(251, 192, 147)">Construction Zone</p></a>
            <a href="issueSubmission/5"><p class="myLink" style="background-color: rgba(247,202,24)">Hazard</p></a>            
        </div>

        <div class="center" style="padding-top:25px;">
            <a href="/">
                <input type="submit" value="Main Menu"/>
            </a>
        </div>

    </body>
</html>