<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Toll Fees</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tollFees.css') }}">
    </head>
    <center>
        <table style="width:70%; text-align: center;">
            <tr>
              <th>Location</th>
              <th>Type</th>
              <th>Fee</th>
            </tr>
            <tr>
              <td>Wilson Road</td>
              <td>Exit Ramp</td>
              <td>$0.75</td>
            </tr>
            <tr>
              <td>MLK Road</td>
              <td>Exit Ramp</td>
              <td>$0.55</td>
            </tr>
            <tr>
                <td>Arapaho Road</td>
                <td>Exit Ramp</td>
                <td>$1.25</td>
              </tr>
          </table>
        </center>
    </body>
</html>