body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}

.borderexample{
    margin: auto;
    width: 400px; 
    padding: 30px;
    
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: rgba(255, 255, 255, 0.877);    
}

.align{
    text-align: left; /*not working*/
    margin: auto;
    width: 400px; 
    padding: 30px;

    background-color: rgba(255, 255, 255, 0.877);

    border-left: 2px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(143, 143, 143);
    border-bottom: 2px solid rgb(143, 143, 143);
}

.grayBack{background-color: rgb(112, 112, 112);} /*Not working*/
.center{text-align: center;}
.italic{font-style: italic;}
.bold{font-weight: bold;}

/*Remove link decoration*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* For Links */
.borderTop{border-top: 2px solid rgb(143, 143, 143);}
.myLink{
    color:black;

    margin: auto;
    width: 400px; 
    padding: 30px;

    border-left: 2px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(143, 143, 143);
    border-bottom: 2px solid rgb(143, 143, 143);
    background-color: rgb(243, 243, 243);
}
.myLink:hover{color: red}

.deleteLink{
    color:red;
    
    margin: auto;
    width: 400px; 
    padding: 30px;

    border-left: 2px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(143, 143, 143);
    border-bottom: 2px solid rgb(143, 143, 143);
    background-color: rgba(255, 255, 255, 0.877);
}
.deleteLink:hover{color: rgb(14, 27, 218);}