body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}

.borderexample{
    margin: auto;
    width: 400px; 
    padding: 30px;
    
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(232,232,232);    
}

.center{text-align: center;}
.italic{font-style: italic;}

/*Remove link decoration*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* For Links */
.borderTop{border-top: 2px solid rgb(143, 143, 143);}
.myLink{
    color:black;
    text-align: center;
    
    margin: auto;
    width: 400px; 
    padding: 30px;

    border-left: 2px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(143, 143, 143);
    border-bottom: 2px solid rgb(143, 143, 143);
    background-color: rgba(255, 255, 255, 0.877);
}
.myLink:hover{color: blue}


