<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZTraffic Accident Monitor</title>
</head>
<body>
    <h1 style="text-align:center; font-family: verdana;"> EZTraffic Accident Monitor</h1>
    <table style="margin-left:auto; margin-right:auto" border=1px bgcolor = "black">
        <tr bgcolor="white"> <th height="100"> 200 </th> </tr>
        <tr bgcolor="white"> <th height="100"> 150 </th> </tr>
        <tr bgcolor="white"> <th height="100"> 100 </th> </tr>
        <tr bgcolor="white"> <th height="100"> 50 </th> </tr>
        <tr bgcolor="white"> <th height="100"> 0 </th> </tr>

        <tr bgcolor = "lightblue">
            <th width="100"> </th>
            <th width="100"> Sunday </th>
            <th width="100"> Monday </th>
            <th width="100"> Tuesday </th>
            <th width="100"> Wednesday </th>
            <th width="100"> Thursday </th>
            <th width="100"> Friday </th>
            <th width="100"> Saturday </th>
        </tr>
    </table>
    <img src = "map_image.png"  alt = "This is a map image"
     height = 50% width = 50%>
</body>
</html>