<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<head>
    <meta charset="UTF-8">
    <title>EZTraffic Accident Monitor</title>
</head>
<body>
    <h1 style="text-align:center; font-family: verdana;"> EZTraffic Accident Monitor</h1>

    <canvas id = "chart" style = "margin-left: auto; margin-right: auto;max-height: 1000px; max-width: 1000px;"> </canvas>
    <script>
        var xValues = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var yValues = [50, 75, 100, 60, 50, 50 ,50];
        var barColors = "blue"

        new Chart("chart",  {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Number of accidents",
                    backgroundColor: barColors,
                    data: yValues,
                }]
            },
            options: {
                legend: {
                    display: true,
                    title: {
                        text: "Values"
                    },
                    position: "bottom"
                },
                title: {
                    display: true,
                    text: "EZTraffic Accident Monitor"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>