<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Emergency Services</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contactEmergency.css') }}">
    </head>
    <body>
        <h1 class="center">Contact Emergency Services</h1>
        <p style="font-size:20px" class="borderexample center italic">Contact a service</p>
        <div>
            <a href=""><p class="myLink">911</p></a>
            <a href=""><p class="myLink">Police Department</p></a>
            <a href=""><p class="myLink">Fire Station</p></a>
            <a href=""><p class="myLink">First Responders</p></a>
            <a href=""><p class="myLink">Ambulance</p></a>            
        </div>
    </body>
</html>