<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>EZTraffic Accident Monitor</title>
</head>
<body style = "background-color: lightblue">
    <center>
        <h1 class="title_border"> EZTraffic Violation Monitor</h1>
    </center>

    <div>
        <label> From: </label> 
        <select></select><br>
        <label> To: </label> <br>
        <label> State: </label> <br>
        <label> Violation: </label> <br>
        <label> Status: </label> <br>
        <label> License Plate: </label> <br>
    </div>


</body>
</html>