<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report an Issue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportAnIssue.css') }}">
</head>
<body>
    <h1 class="center">Report an Issue</h1>
    <p style="font-size:20px"class="borderexample center italic">We're here to help</p>

    <div>
        <a href=""><p class="myLink">1. GPS and Network</p></a>
        <a href=""><p class="myLink">2. Routes</p></a>
        <a href=""><p class="myLink">3. Map</p></a>
        <a href=""><p class="myLink">4. Voice and Sound</p></a>
        <a href=""><p class="myLink">5. My Account</p></a>
        <a href=""><p class="myLink">6. Feedback and suggestions</p></a>
    </div>

</body>
