<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Research</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportConditions.css') }}">
</head>
<body>


    <p><b> Report Road Conditions</b></p1>
    <p>Weather Conditions</p>
    <p><a href="http://127.0.0.1:5000/Submitted_Conditions"> 1. Heavy Rain</a></p>
    <p><a href="http://127.0.0.1:5000/Submitted_Conditions"> 2. Flash Flood</a></p>
    <p><a href="http://127.0.0.1:5000/Submitted_Conditions"> 3. Strong Winds</a></p>
    <p><a href="http://127.0.0.1:5000/Submitted_Conditions"> 4. Heavy Snow</a></p>
    <p><a href="http://127.0.0.1:5000/Submitted_Conditions"> 5. Icy Roads</a></p>


</body>